.form {
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: space-around;
}

.form input:first-child {
    width: 56%;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #000;
}

.form input:last-child {
    background-color: blue;
    color: darkgray;
    width: 10%;
    height: 35px;
    border-radius: 3px;
}

.task {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.task p {
    width: 80%;
    padding: 15px;
    border: 2px solid #000;
    border-radius: 3px;
    }

.task input{
    margin-left: 80%;
}